[Unit]
Description= iotconnect python service, runs forever
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/app/bin/iotc/iotc-application.sh
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
